<%- include('layouts/header') %>

    <%- include('layouts/nav') %>

        <!-- Page header with logo and tagline-->
        <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading text-center">
                            <h1>Clean Blog</h1>
                            <span class="subheading">A Blog Theme by Start Bootstrap</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-12">
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row">

                <% if(!data || data.length===0){ %>

                    <div class="col-12 text-center">
                        <h4 class="text-danger">No Posts Found</h4>
                    </div>

                    <% } else { %>

                        <% data.forEach((post)=>{ %>

                            <div class="col-lg-4">
                                <!-- Blog post-->
                                <div class="card mb-4">
                                    <% if(post.cover_image){ %>
                                        <img src="<%= post.cover_image %>" class="card-img-top w-100"
                                            style="object-fit: cover; height: 250px;" alt="..." />
                                        <% } %>
                                            <div class="card-body">
                                                <div class="small text-muted">
                                                    <%= new Date(post.createdAt).toDateString() %>
                                                </div>
                                                <h2 class="card-title h4 text-truncate">
                                                    <%= post.title %>
                                                </h2>
                                                <p class="card-text text-truncate">
                                                    <%= post.content %>
                                                </p>
                                                <!-- <a class="btn btn-primary" href="/post/<%= post._id %>">Read Full Post</a> -->
                                                <div class="d-lg-block d-block gap-2 d-md-flex justify-content-center">
                                                    <a class="btn btn-primary me-md-2" href="/post/<%= post._id %>">Read
                                                        Post</a>
                                                    <a class="btn btn-info me-md-2" href="/edit/post/<%= post._id %>"><i
                                                            class="bi bi-pen me-2"></i>Edit Post</a>
                                                    <a class="btn btn-danger" href="/delete/post/<%= post._id %>"><i
                                                            class="bi bi-trash me-2"></i>Delete Post</a>
                                                </div>
                                            </div>
                                </div>
                                <!-- Blog post-->
                            </div>
                            <% }) %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>

        <%- include('layouts/footer') %>